[submodule "js/lib/mout"]
	path = js/lib/mout
	url = git://github.com/mout/mout.git
[submodule "js/lib/domReady"]
	path = js/lib/domReady
	url = git://github.com/requirejs/domReady.git
[submodule "js/lib/requirejs"]
	path = js/lib/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "js/lib/text"]
	path = js/lib/text
	url = git://github.com/requirejs/text.git
[submodule "js/lib/requirejs-plugins"]
	path = js/lib/requirejs-plugins
	url = git://github.com/millermedeiros/requirejs-plugins.git
[submodule "js/lib/requirejs-hogan-plugin"]
	path = js/lib/requirejs-hogan-plugin
	url = git://github.com/millermedeiros/requirejs-hogan-plugin.git
